@model User
<form asp-action="UserSubmit">
        <div>
            <span asp-validation-for="Name"></span>
            <label asp-for="Name"></label>
            <input type="text" asp-for="Name">
        </div>
        <div>
            <span asp-validation-for="Email"></span>
            <label asp-for="Email"></label>
            <input type="text" asp-for="Email">
        </div>
        <div>
            <span asp-validation-for="Password"></span>
            <label asp-for="Password"></label>
            <input type="password" asp-for="Password">
        </div>
        <div>
            <span asp-validation-for="Confirm"></span>
            <label asp-for="Confirm"></label>
            <input type="password" asp-for="Confirm">
        </div>
        <input type="submit" value="Register">

    </form>