@using FinalProject.Models;
@model TimeLineView
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>FinalProject</title>
</head>
<body>
    <div  class="container p-3 d-flex flex-column justify-content-center ml-20">

        <div class="row">

            <a href="/logout">logout</a>
        </div>
        <div>
            <a href="/home">all posts on the site</a>
        </div>

        <div class="row">

            <h1>Welcome to your TimeLine</h1>
        </div>
        <div>
            <h3>You have @Model.SiteUser.NumFollowers followers and you follow @Model.SiteUser.NumFollowing accounts</h3>
        </div>

        <div class="row">

            <h3 >new post</h3>
        </div>

        <div class="row">

            <form asp-action="PostSubmit">
                <div>
                    <div>

                    <span asp-validation-for="newPost.Text"></span>
                    </div>
                    
                    <textarea Asp-for="newPost.Text" cols="30" rows="5"></textarea>
                </div>
                    
                <div>

                    <input type="submit" value="Post">
                </div>

            </form>
        </div >

        <div class="col-5">

        @foreach(TextPost post in @Model.TLPosts)
        {
        @Html.Partial("TextPostPartial", post)
        
        }
        </div>

    
    
    </div>
</body>
</html>